.container {
  display: flex;
  align-items: center;
}

.container > * {
  padding: 1rem 0;
}

.container :first-child {
  width: 100px;
  font-weight: bold;
}

.button {
  padding: .75rem 1.5rem;
  margin-right: 1rem;
  outline: none;
  background: #ccc;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.button:disabled {
  background: #eaeaea;
  cursor: default;
}
