.checkout {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 1025px) {
  .checkout {
    justify-content: flex-end;
  }
}

.empty {
  font-size: 0.8rem;
  padding: 1rem 0;
  text-align: center;
  border-bottom:  1px solid #eee;
}
