.heading {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.content {
  display: block;
  border-radius: 3px;
  padding: 2rem;
  border: 1px solid #eaeaea;
}
@media (min-width: 1025px) {
  .heading {
    text-align: left;
  }
  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    border: none;
  }
  .content > * {
    flex: 1 auto;
  }
}

.burger {
  align-self: center;
  height: 100%;
}
