.button {
  padding: .75rem 1.5rem;
  margin: 0 0.5rem;
  outline: none;
  background: #ccc;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.noMargin {
  margin: 0;
}

.larger {
  font-weight: bold;
  font-size: 1.5rem;
}

.primary {
  background: blue;
  color: white;
  font-weight: normal;
}

.close {
  font-weight: lighter;
}

.button:disabled {
  background: #eaeaea;
  cursor: not-allowed;
}
