.spinner {
  display: flex;
  border: 1px solid blue;
  border-radius: 3px;
  justify-content: center;
  color: blue;
  padding: 2rem;
  margin: 1rem 0;
}

.spinner.error {
  color: red;
  border-color: red;
}
