.offCanvas {
  width: 300px;
  position: fixed;
  left: 50%;
  top: -100%;
  margin-left: -150px;
  z-index: 500;
  padding: 2rem;
  background: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 250ms ease-out;
  opacity: 0;
}

.onCanvas {
  top: 10%;
  opacity: 1;
}

.turnColor {
  background: blue;
}
