.qty, .desc, .controls, .price, .total {
  width: 100%
}

.item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.item.header {
  display: none;
  font-size: .8rem;
  padding-bottom: 1rem;
  padding-top: 0;
  font-weight: bold;
  color: #ccc;
}

.total {
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: bold;
  text-align: center;
}

.totalText {
  font-size: .8rem;
  color: #ccc;
}

.action {
  text-align: center;
}

@media (min-width: 1025px) {
  .item.header {
    display: flex;
  }
  .total, .action {
    text-align: right;
  }
  .item {
    display: flex;
    align-items: center;
  }
  .price, .unitPrice, .deleteItemOrTotal {
    text-align: center;
  }
  .qty {
    width: 15%;
    display: flex;
    justify-content: center;
  }
  .desc {
    width: 60%;
    font-size: .9rem;
    padding-right: 2rem;
  }
  .desc h3 {
    margin-top: 0;
  }
  .unitPrice {
    width: 15%;
  }
  .deleteItemOrTotal {
    width: 10%;
  }
}
