.desc {
  text-align: left;
  width: 100%;
  font-size: .9rem;
}

.qty, .unitPrice, .deleteItemOrTotal {
  padding-left: 3rem;
  width: 8rem;
  text-align: right;
}

.qty, .controls, .price, .unitPrice, .deleteItemOrTotal {
  display: inline-block;

}

.qty {
  order: 1;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.unitPrice {
  order: 2
}

.deleteItemOrTotal {
  order: 3
}

.mobileGroup {
  padding-top: 1.5rem;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  width: 100%;
}

.item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.item.header {
  display: none;
  font-size: .8rem;
  padding-bottom: 1rem;
  padding-top: 0;
  font-weight: bold;
  color: #ccc;
}

.total {
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: bold;
  text-align: center;
}

.totalText {
  font-size: .8rem;
  color: #ccc;
}

.total, .action {
  text-align: right;
}

@media (min-width: 1025px) {

  .desc {
    width: 65%;
  }

  .mobileGroup {
    justify-content: space-between;
    padding-top: 0;
  }

  .qty,
  .deleteItemOrTotal,
  .unitPrice  {
    width: 33%;
    padding: 0;
  }

  .deleteItemOrTotal,
  .unitPrice {
    text-align: right;
  }

  .item.header {
    display: flex;
  }

  .item {
    display: flex;
    align-items: center;
  }

  .desc h3 {
    margin-top: 0;
  }

}
